$font-primary: "Montserrat";
$font-secondary: "Montserrat Alternates", sans-serif;

$colors: (
  primary: #4a4e69,
  secondary: #b5b7ca,
  accent: #35384b,
  cuadro: #f0f1f5,
  texto: black,
);

$shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
$padding: 15px;
$radius: 15px;
